.addSetorWrapper {
    background-color: #c4c4c4;
    width: 100%;
    padding: 25px;

    h1 {
        margin-bottom: 20px;
    }

    input {
        &::placeholder {
            text-transform: uppercase;
            color: #000000;
        }
    }

    fieldset {
        border-radius: 10px;
    }

    .cargosWrapper {
        display: flex;
        gap: 20px;
        align-items: flex-end;

        .textFieldRoot {
            width: 100%;
            border-radius: 10px;

            input {
                &::placeholder {
                    text-transform: uppercase;
                    color: #000000;
                }
            }

            fieldset {
                border-radius: 10px;
            }
        }
    }

    .cargoAdd {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        .cargo {
            display: flex;
            justify-content: space-between;
            background-color: #fcf4f4;
            padding: 5px 10px;
            width: 130px;
        }
    }

    .buttonSave {
        position: absolute;
        bottom: 40px;
        right: 45px;
    }

    @media screen and (max-width: 960px) {
        overflow-y: auto;

        .buttonSave {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            position: relative;
            bottom: unset;
            right: unset;
        }
    }

    @media screen and (max-width: 480px) {
        .cargosWrapper {
            flex-direction: column;

            button {
                max-width: 200px;
                margin: 0 auto;
                height: 50px;
            }
        }

        .cargoAdd {
            flex-direction: column;
            align-items: center;
        }

        .buttonSave {
            justify-content: center;

            button {
                max-width: 200px;
                margin: 0 auto;
                height: 50px;
                line-height: 12px;
            }
        }
    }
}
